@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body{
    background: rgb(28,28,28);
color: #fff;
}
.hitman3video{
  width: 1000px;
  height: 500px;
  position: relative;
  left: 300px;
  top: 160px;
  display: flex;
}
.hitp{
   color: rgb(245, 245, 245);
   position: relative;
   top: 10px;
   left: 60px; 
   display: inline;
  
}
.top{
    position: relative;
    bottom:450px;
    left:300px;
    background-color: rgb(38,38,38);
    height: 80px;
    width: 1000px;
}
.hitp1{
 text-align: center;
 position: relative;
 top: 150px;
 font-size: 1.4rem;
}
.box{
    position: absolute;
    top:  calc(50%-200px);
    left:  calc(50%-150px);
    width: 300px;
    height: 169px;
    position: relative;
    left: 150px ;
    top: 90px;
    background: rgb(38,38,38);
    transform-style: preserve-3d ;
    transition: 2s;
    transform: perspective(500px)  rotateY(0deg);
}
.box:hover{
transform: perspective(500px) rotateY(180deg);
}

.box .front{
   width: 100%;
   height: 100%;
   background: url("https://cdn.akamai.steamstatic.com/steam/apps/945360/capsule_616x353.jpg?t=1611793703");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   left: 0px;
   transform: translateZ(25px);
   
}
.box .back{  
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("https://vectorlogo4u.com/wp-content/uploads/2020/10/among-us.svg");
   background-repeat: no-repeat;
  background-size: 90%;
  margin: 10px;
transform: translate(-25px) rotateY(180deg);
   
}
hr{
   width:56%;
 position: relative;
 left: 30%;
 top: 70px;
 
}
.develop{
   color: rgba(245,245,245,0.6);
   text-align: center;
   position: relative;
   top: 60px;
  left: 460px;
   display: inline;
}
.developh4{
   color: rgba(245,245,245,0.6);
   text-align: center;
   position: relative;
   top: 85px;
  left: 380px;
   font-size: 1rem;
   display: inline;
}
.develop1{
   color: rgba(245,245,245,0.6);
   text-align: center;
   position: relative;
   top: 60px;
   left: 600px;
   display: inline;
}
.developh41{
   color: rgba(245,245,245,0.6);
   text-align: center;
   position: relative;
   top: 85px;
   left: 510px;
   font-size: 1rem;
   display: inline;
}
.platform{
   color: rgba(245,245,245,0.6);
   text-align: center;
   position: relative;
   top: 60px;
   left: 800px;
   font-size: 1rem;
   display: inline;
}
.fab{
   position: relative;
   top: 90px;
   left: 750px;
   display: inline;
}
.screenshot{
  width: 700px;
  position: relative;
  left: 500px;
  top: 150px;
}
.btn{
   position: relative;
   right: 400px;
}
.h1screenshots{
   font-size: 1.4rem;
   position: relative;
   top: 160px;
   right: 300px;
   color: rgb(245,245,245);
   display: inline;
}
.specifications{
   background-color: rgb(38,38,38);
   height: 1000px;
   width: 1000px;
   position: relative;
   left: 350px;
}
.specifications1{
   font-size: 1rem;
  position: relative;
  top: 70px;
  left: 40px;
   color: rgb(245,245,245);
   display: inline;
}
.sp{
   font-size: 1.4rem;
   position: relative;
   top: 50px;
   right: 300px;
   color: rgb(245,245,245);
   display: inline;

}
.hr1{
   position: relative;
   top: 80px;
   left: 35px;
   width: 800px;
  
}
.p5{
   position: relative;
   top: 74px;
   left: 40px;
   color: rgb(108,108,108);
   display: inline;

}
.p4{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;
}
.p6{
   position: relative;
   top: 74px;
   left: 40px;  
   display: inline;
   color: rgb(252,252,252);
}
.p7{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;

}
.p8{
   position: relative;
   top: 74px;
   left: 40px; 
   
   display: inline;
}
.p9{
   position: relative;
   top: 74px;
   left: 40px;  
   display: inline;
}
.p10{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;
}
.p11{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;

}
.p12{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;
}
.p13{
   position: relative;
   top: 74px;
   left: 40px;  
   
   display: inline;
}
.p14{
   position: relative;
   top: 74px;
   left: 40px;  
   color: rgb(108,108,108);
   display: inline;
}
.p15{

position: relative;
   top: 74px;
   left: 40px; 
 
   display: inline;
}
.p16{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p17{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p18{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;
}
.p19{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p20{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;
}
.p21{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p22{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;
}
.p23{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p24{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;
}
.p25{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;}
.p26{
   position: relative;
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;}
.p27{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(108,108,108);
   display: inline;
}
.p28{
   position: relative;
   left: 700px;
   bottom:390px ;
   color: rgb(252,252,252);
   display: inline;
}
.btn{
   position: relative;
   left: 0px;
   bottom: 200px;
}
.antivirus{
    color: red;
    position: relative;
    bottom: 350px;
    text-align: center;
    font-size: 2rem;
}